# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\anserw\4_5863868327528501093\table\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
